.change_password__div {
  background-color: #524c42;
  margin: 9rem;
  width: 70%;

  && .image_pass__forgot {
    width: 250px;
  }

  && .container_change__pass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    && .change_password__profile {
      /* background-color: red; */
      margin: 40px;

      && label {
        color: white;
      }

      && input {
        width: 100%;
        margin-top: 20px;
      }

      && .btn_link__actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        && button {
          margin-top: 20px;
          background-color: #af8f6f;
          color: white;
          border: none;
          font-weight: 500;
        }

        && .link_forget__login {
          text-align: center;
          text-decoration: none;
        }

        && button:hover {
          margin-top: 20px;
          background-color: #481e14;
          color: white;
          border: none;
          font-weight: 500;
          border: 1px solid white;
        }

        && .link_forget__login:hover {
          color: #fbf3d5;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}
